.posts__wrap {
    padding: 30px;
}
.posts__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.posts__chat {
    max-width: 500px;
}
.posts__chat_input {
    border: 1px solid #69c;
    padding: 10px;
    resize: none;
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.posts__chat form {
    margin-bottom: 30px;
}
.posts__chat form input {
    display: block;
    margin-left: auto;
}
